@use '@angular/material' as mat;


.maindiv {
    overflow: auto;
    
}

//declare using matliz8
.maindiv th {
  position: sticky;
  top: 0;
  background-color: goldenrod;
  color: black; /* or any background to avoid transparency */
  z-index: 2; /* ensures it stays above other content */
}